#container
	{
	float:left;
	padding:30px;
	background-color:rgba(128,128,128,0.2);
	font-weight:bold;
	font-size:18px;
	}
.row 	
	{
	max-width:700px;
	float:none;
	margin-top:50px;
	margin-left:200px;
	}
button
	{
	transition-duration:0.5s;
	display:inline-block;
	font-size:30px;
	}
#login
	{
	background-color:white;
	border:4px solid #008CBA;
	text-align:center;
	color:black;
	}
#login:hover
	{
	background-color:#008CBA;
	color:white;
	}
.len
	{
	width:95%;
	color:black;
	}
body
	{
	background:linear-gradient(rgba(0,0,50,0.1),rgba(0,0,50,0.1)),url(social_event.gif);
	background-position;right;
	background-size:cover;
	}
	
.arrow img{
  border-radius:50%;
  opacity:0.3;
}